<app-breadcrumb [items]="[
    { label: 'Home', route: '/home' }, 
    { label: 'Portfolio', route: '/portfolio' }, 
    { label: 'Button', route: '/buttons' }
    ]" divider=">">
</app-breadcrumb>

<h3 class="header-center margin-y">General</h3>

<div class="grid">
    <app-button type="primary">Primary Button</app-button>
    <button appButton buttonType="primary">Primary Button</button>
    <button appButton buttonType="secondary">Secondary Button</button>
    <button appButton buttonType="success">Success Button</button>
    <button appButton buttonType="danger">Danger Button</button>
    <button appButton buttonType="warning">Warning Button</button>
    <button appButton buttonType="info">Info Button</button>
</div>

<h3 class="header-center margin-y">Outlined</h3>

<div class="grid bg-dark">
    <button appButton buttonType="primary-outlined">Primary</button>
    <button appButton buttonType="secondary-outlined">Secondary</button>
    <button appButton buttonType="success-outlined">Success</button>
    <button appButton buttonType="danger-outlined">Danger</button>
    <button appButton buttonType="warning-outlined">Warning</button>
    <button appButton buttonType="info-outlined">Info</button>
</div>

<h3 class="header-center margin-y">Custom Buttons</h3>

<div class="grid">
    <button appButton buttonType="primary" hoverEffect="hover-shadow" clickEffect="click-glow">Primary</button>
    <button appButton buttonType="secondary" hoverEffect="hover-outline" clickEffect="click-press">Secondary</button>
    <button appButton buttonType="success" hoverEffect="hover-brighten" clickEffect="click-border">Success</button>
    <button appButton buttonType="danger" hoverEffect="hover-dim" clickEffect="click-glow">Danger</button>
    <button appButton buttonType="info" hoverEffect="hover-shadow" clickEffect="click-flash">Info</button>
    <button appButton buttonType="light" hoverEffect="hover-outline" clickEffect="click-border">Light</button>
    <button appButton buttonType="primary" hoverEffect="hover-dim" clickEffect="click-flash">Primary</button>
    <button appButton buttonType="success" hoverEffect="hover-shadow" clickEffect="click-glow">Success</button>
    <button appButton buttonType="danger" hoverEffect="hover-shadow" clickEffect="click-press">Danger</button>
    <button appButton buttonType="warning-circle" hoverEffect="hover-brighten" clickEffect="click-press">Warning</button>
    <app-button type="primary-1-1">Primary Button</app-button>
    <app-button type="secondary-2-2" [isToggle]="true">Toggle Button</app-button>
    <app-button type="danger-3-3">Radio Button</app-button>
    <app-button type="danger-2-1" [isToggle]="true">Toggle</app-button>
</div>


