<app-breadcrumb [items]="[
    { label: 'Home', route: '/home' }, 
    { label: 'Portfolio', route: '/portfolio' }, 
    { label: 'Button Group', route: '/button-group' }
    ]" divider=">">
</app-breadcrumb>

<app-button-group class="horizontal" orientation="horizontal">
  <button appButtonToggle class="btn btn-primary">Toggle 1</button>
  <button appButtonToggle class="btn btn-primary">Toggle 2</button>
  <app-dropdown-menu direction="right" label="Dropdown" btnClass="btn-primary btnGroup horizontal-last">
    <button class="dropdown-item">Action 1</button>
    <button class="dropdown-item">Action 2</button>
  </app-dropdown-menu>
</app-button-group>

<p>vertical</p>

<app-button-group class="vertical" orientation="vertical">
  <button appButtonToggle class="btn btn-secondary">Vertical Toggle 1</button>
  <button appButtonToggle class="btn btn-secondary">Vertical Toggle 2</button>
  <app-dropdown-menu direction="bottom" label="Vertical Dropdown" btnClass="btn-secondary btnGroup vertical-last">
    <button class="dropdown-item">Vertical Action 1</button>
    <button class="dropdown-item">Vertical Action 2</button>
  </app-dropdown-menu>
</app-button-group>

<p>top</p>

<app-button-group class="horizontal" orientation="horizontal">
  <button appButtonToggle class="btn btn-warning">Vertical Toggle 1</button>
  <button appButtonToggle class="btn btn-warning">Vertical Toggle 2</button>
  <app-dropdown-menu direction="top" label="Vertical Dropdown" btnClass="btn-warning btnGroup horizontal-last">
    <button class="dropdown-item">Vertical Action 1</button>
    <button class="dropdown-item">Vertical Action 2</button>
  </app-dropdown-menu>
</app-button-group>

<p>left</p>
<app-button-group class="vertical" orientation="vertical">
  <app-dropdown-menu direction="left" label="Vertical Dropdown" btnClass="btn-warning btnGroup vertical-first">
    <button class="dropdown-item">Vertical Action 1</button>
    <button class="dropdown-item">Vertical Action 2</button>
  </app-dropdown-menu>
  <button appButtonToggle class="btn btn-warning">Vertical Toggle 1</button>
  <button appButtonToggle class="btn btn-warning">Vertical Toggle 2</button>

</app-button-group>
<h2>My</h2>
<app-button-group class="vertical" orientation="vertical">
  <app-button type="primary vertical-first" [isGroupButton]="true">Primary Button</app-button>
  <app-button type="primary" [isGroupButton]="true">Primary Button</app-button>
  <app-button type="primary vertical-last" [isGroupButton]="true">Primary Button</app-button>
</app-button-group>
<h4>Radio</h4>
<app-button-group class="vertical" orientation="vertical">
  <app-radio-group>
    <app-button radioValue="option1" type="primary vertical-first" [isGroupButton]="true">Primary Button</app-button>
    <app-button radioValue="option2" type="primary" [isGroupButton]="true">Primary Button</app-button>
    <app-button radioValue="option3" type="primary vertical-last" [isGroupButton]="true">Primary Button</app-button>
  </app-radio-group>
</app-button-group>