<app-breadcrumb [config]="{
    items:[
        { label: 'Home', route: '/home' }, 
        { label: 'Portfolio', route: '/portfolio' }, 
        { label: 'Buttons', route: '/button' }
    ],
    divider:'>'}">
</app-breadcrumb>

<div class="portfolio-item">
    <h3 class="header-center margin-y">General</h3>

    <div class="grid">
        <app-button [config]="{type:'primary'}">Primary</app-button>
        <app-button [config]="{type:'secondary'}">Secondary</app-button>
        <app-button [config]="{type:'success'}">Success</app-button>
        <app-button [config]="{type:'danger'}">Danger</app-button>
        <app-button [config]="{type:'warning'}">Warning</app-button>
        <app-button [config]="{type:'info'}">Info</app-button>
        <app-button [config]="{type:'light'}">Light</app-button>
        <app-button [config]="{type:'dark'}">Dark</app-button>
    </div>
    
    <h3 class="header-center margin-y">Outlined</h3>
    
    <div class="grid bg-dark">
        <app-button [config]="{type:'primary-outlined'}">Primary</app-button>
        <app-button [config]="{type:'secondary-outlined'}">Secondary</app-button>
        <app-button [config]="{type:'success-outlined'}">Success</app-button>
        <app-button [config]="{type:'danger-outlined'}">Danger</app-button>
        <app-button [config]="{type:'warning-outlined'}">Warning</app-button>
        <app-button [config]="{type:'info-outlined'}">Info</app-button>
        <app-button [config]="{type:'light-outlined'}">Light</app-button>
        <app-button [config]="{type:'dark-outlined'}">Dark</app-button>
    </div>
    
    <h3 class="header-center margin-y">Disabled states</h3>
    
    <div class="grid">
        <app-button [config]="{type:'primary', disabled:true}">Disabled primary</app-button>
        <app-button [config]="{type:'secondary', disabled:true}">Disabled secondary</app-button>
        <app-button [config]="{type:'success', disabled:true}">Disabled success</app-button>
        <app-button [config]="{type:'danger', disabled:true}">Disabled danger</app-button>
        <app-button [config]="{type:'warning', disabled:true}">Disabled warning</app-button>
        <app-button [config]="{type:'info', disabled:true}">Disabled info</app-button>
        <app-button [config]="{type:'light', disabled:true}">Disabled light</app-button>
        <app-button [config]="{type:'dark', disabled:true}">Disabled Dark</app-button>
    </div>

    <h3 class="header-center margin-y">Toggle buttons</h3>

    <div class="grid">
        <app-button [config]="{type:'primary', isToggle:true}">Primary</app-button>
        <app-button [config]="{type:'primary', isToggle:true, active:true}">Active</app-button>
        <app-button [config]="{type:'primary', isToggle:true, disabled:true}">Disabled</app-button>

        <app-button [config]="{type:'secondary', isToggle:true}">Secondary</app-button>
        <app-button [config]="{type:'secondary', isToggle:true, active:true}">Active</app-button>
        <app-button [config]="{type:'secondary', isToggle:true, disabled:true}">Disabled</app-button>

        <app-button [config]="{type:'success', isToggle:true}">Success</app-button>
        <app-button [config]="{type:'success', isToggle:true, active:true}">Active</app-button>
        <app-button [config]="{type:'success', isToggle:true, disabled:true}">Disabled</app-button>

        <app-button [config]="{type:'danger', isToggle:true}">Danger</app-button>
        <app-button [config]="{type:'danger', isToggle:true, active:true}">Active</app-button>
        <app-button [config]="{type:'danger', isToggle:true, disabled:true}">Disabled</app-button>

        <app-button [config]="{type:'warning', isToggle:true}">Warning</app-button>
        <app-button [config]="{type:'warning', isToggle:true, active:true}">Active</app-button>
        <app-button [config]="{type:'warning', isToggle:true, disabled:true}">Disabled</app-button>

        <app-button [config]="{type:'info', isToggle:true}">Info</app-button>
        <app-button [config]="{type:'info', isToggle:true, active:true}">Active</app-button>
        <app-button [config]="{type:'info', isToggle:true, disabled:true}">Disabled</app-button>

        <app-button [config]="{type:'light', isToggle:true}">Light</app-button>
        <app-button [config]="{type:'light', isToggle:true, active:true}">Active</app-button>
        <app-button [config]="{type:'light', isToggle:true, disabled:true}">Disabled</app-button>

        <app-button [config]="{type:'dark', isToggle:true}">Dark</app-button>
        <app-button [config]="{type:'dark', isToggle:true, active:true}">Active</app-button>
        <app-button [config]="{type:'dark', isToggle:true, disabled:true}">Disabled</app-button>

        <app-button [config]="{type:'borderless', isToggle:true}">Borderless</app-button>
        <app-button [config]="{type:'borderless', isToggle:true, active:true}">Active</app-button>
        <app-button [config]="{type:'borderless', isToggle:true, disabled:true}">Disabled</app-button>
    </div>
</div>




