//Medium


@media (max-width:720px) {
    .toast-background {
        
        height: 60vh;
        margin: 1rem 0;
    }

    .portfolio-item {
        padding: 0;
    }

    .verticalPosition {
        flex-direction: column;
        width: 82vw;
    }

    .verticalGrid {
        order: 1;
        display: grid;
        grid-gap: 0.7rem;
        grid-template-columns: repeat(2, 1fr);
    }

    .horizontalGrid {
        display: grid;
        grid-gap: 0.7rem;
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (min-width:721px) and (max-width:950px) {
    .horizontalGrid {
        display: grid;
        grid-gap: 0.7rem;
        grid-template-columns: repeat(2, 1fr);
    }

    .toast-background {
        width: 60vw;
        margin-left: 1.5rem;
    }

    .verticalGrid {
        display: flex;
        flex-direction: column;
        gap: 0.7rem;
    }
}

@media (min-width:951px)and (max-width:1030px) {
    .horizontalGrid {
        display: grid;
        grid-gap: 0.7rem;
        grid-template-columns: repeat(3, 1fr);
    }

    .toast-background {
        width: 60vw;
        margin-left: 1.5rem;
    }

    .verticalGrid {
        display: flex;
        flex-direction: column;
        gap: 0.7rem;
    }
}



@media (min-width:1031px) and (max-width:1265px) {
    .horizontalGrid {
        display: grid;
        grid-gap: 0.7rem;
        grid-template-columns: repeat(5, 1fr);
    }

    .verticalGrid {
        display: flex;
        flex-direction: column;
        gap: 0.7rem;
    }

    .toast-background {
        width: 65vw;
        margin-left: 1.5rem;
    }
}




@media (min-width:1265px) {
    .horizontalGrid {
        display: flex;
        gap: 0.7rem;
    }

    .toast-background {
        width: 75vw;
        margin-left: 1.5rem;
    }

    .verticalGrid {
        display: flex;
        flex-direction: column;
        gap: 0.7rem;
    }
}

.toast-background {
    background: #4c4d80;
    border-radius: 0.5rem;
    border-color: black;
    position: relative;
    
}



h3 {
    margin: 1rem 0;
}



.verticalPosition {
    display: flex;
}