.badge {
  padding: 5px 10px;
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
  min-width: 20px;
  text-align: center;
}

.badgeRound {
  border-radius: 50%;
  position: absolute;
  background-color: blue
}

.badgeRect {
  border-radius: 10px;
  background-color: grey;
  vertical-align: middle;
}

.badgeBtn {
  border-radius: 7px;
  background-color: grey;
}

.badgeBtnTop {
  border-radius: 50rem;
  background-color: rgba(220,53,69,1);
  position: absolute;
  transform: translateY(-50%);
}

.badgePfofile {
  background-color: rgba(220,53,69,1);
  border-radius: 50%;
  border-color: rgba(248,249,250,1);
  position: absolute;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

.primary {
  color: #fff;
  background-color: rgb(13,110,253);
  border-radius: 0.375rem;
}

.secondary {
  color: #fff;
  background-color: rgb(108,117,125);
  border-radius: 0.375rem;
}

.success {
  color: #fff;
  background-color: rgb(25,135,84);
  border-radius: 0.375rem;
}

.danger {
  color: #fff;
  background-color: rgb(220,53,69);
  border-radius: 0.375rem;
}

.warning {
  color: #000;
  background-color: rgb(255,193,7);
  border-radius: 0.375rem;
}

.info {
  color: #000;
  background-color: rgb(13,202,240);
  border-radius: 0.375rem;
}

.light {
  color: #000;
  background-color: rgb(248,249,250);
  border-radius: 0.375rem;
}

.dark {
  color: #fff;
  background-color: rgb(33,37,41);
  border-radius: 0.375rem;
}

.pill {
  border-radius: 50rem !important;
}