<!-- <div [ngClass]="config.styles?.card || 'custom-card'">
    <img *ngIf="config.imageSrc" [src]="config.imageSrc" alt="Card image"
        [ngClass]="config.styles?.image || 'custom-card-img'">
    <div [ngClass]="config.styles?.body || 'custom-card-body'">
        <h5 *ngIf="config.title" [ngClass]="config.styles?.title || 'custom-card-title'">{{ config.title }}</h5>
        <p *ngIf="config.description" [ngClass]="config.styles?.description || 'custom-card-text'">{{ config.description
            }}</p>
        <ul *ngIf="config.listItems?.length" [ngClass]="config.styles?.list || 'custom-list-group'">
            <li *ngFor="let item of config.listItems" [ngClass]="config.styles?.listItem || 'custom-list-group-item'">{{
                item }}</li>
        </ul>
        <div *ngIf="config.actions?.length" [ngClass]="config.styles?.actions || 'custom-card-actions'">
            <a *ngFor="let action of config.actions" [href]="action.link"
                [ngClass]="config.styles?.button || 'custom-btn'">{{ action.text }}</a>
        </div>
    </div>
</div> -->
<!--NG-CONTAINER *ngIf="!config.placeholder; else placeholderContent" -->
<div [ngClass]="{'custom-card':true,'placeholder':config.placeholder}">
    <ng-container >
        <!-- Actual content -->
        <div class="image-placeholder">
            <img *ngIf="config.imageSrc" [src]="config.imageSrc" alt="Card image"
                [ngClass]="config.styles?.image || 'custom-card-img'">
            <div [ngClass]="{'img-overlay':config.placeholder}"></div>
        </div>

        <div [ngClass]="config.styles?.body || 'custom-card-body'">

            <div class="title">
                <h5 *ngIf="config.title" [ngClass]="config.styles?.title || 'custom-card-title'">
                    <span [ngClass]="{'text-wrapper':config.placeholder,'glow':config.animation}"> {{ config.title }} </span>
                </h5>
            </div>

            <p *ngIf="config.description" [ngClass]="config.styles?.description || 'custom-card-text'">
                <span [ngClass]="{'text-wrapper':config.placeholder,'glow':config.animation}">{{config.description }}</span>
            </p>
            <ul *ngIf="config.listItems?.length" [ngClass]="config.styles?.list || 'custom-list-group'">
                <li *ngFor="let item of config.listItems"
                    [ngClass]="config.styles?.listItem || 'custom-list-group-item'">
                    <span [ngClass]="{'text-wrapper':config.placeholder,'glow':config.animation}">{{ item }}</span>
                </li>
            </ul>
            <div *ngIf="config.actions?.length" [ngClass]="config.styles?.actions || 'custom-card-actions'">
                <a *ngFor="let action of config.actions" [href]="action.link"
                    [ngClass]="config.styles?.button || 'custom-btn'">
                    <span [ngClass]="{'button-wrapper':config.placeholder}">{{ action.text }}</span>
                </a>
            </div>
        </div>
    </ng-container>

    <!-- Placeholder content -->
    <ng-template #placeholderContent>
        <div [ngClass]="config.styles?.placeholderImage || 'custom-placeholder-img'"></div>
        <div [ngClass]="config.styles?.body || 'custom-card-body'">
            <div [ngClass]="config.styles?.placeholderTitle || 'custom-placeholder-title'"></div>
            <div [ngClass]="config.styles?.placeholderDescription || 'custom-placeholder-text'"></div>
            <ul [ngClass]="config.styles?.list || 'custom-list-group'">
                <li *ngFor="let _ of [1, 2, 3]"
                    [ngClass]="config.styles?.placeholderListItem || 'custom-placeholder-list-item'"></li>
            </ul>
            <div [ngClass]="config.styles?.actions || 'custom-card-actions'">
                <div [ngClass]="config.styles?.placeholderButton || 'custom-placeholder-btn'"></div>
            </div>
        </div>
    </ng-template>
</div>