@media (max-width: 600px) {
    .carousel-container {
        width: 400px;
        height: 400px;
    }
}

@media (max-width: 500px) {
    .carousel-container {
        width: 230px;
        height: 230px;
    }
}

@media (min-width: 601px) {
    .carousel-container {
        width: 500px;
        height: 500px;
    }
}

.carousel-container {
    
    margin: 0 auto;
}

.portfolio-item {
    margin: 0 auto;
}

.text-center {
    text-align: center;
    margin: 1em 0;
}