<nav [ngClass]="config.orientation === 'horizontal' ? 'navbar-horizontal' : 'navbar-vertical'">
    <div class="navbar-elements">
      <ng-container *ngFor="let element of config?.elements">
        
        <!-- Button -->
        <button *ngIf="element?.type === 'button'" (click)="element?.action?.()">
          {{ element?.label }}
        </button>
  
        <!-- Link -->
        <a *ngIf="element?.type === 'link'" [href]="element?.url">
          {{ element?.label }}
        </a>
  
        <!-- Dropdown -->
        <div *ngIf="element?.type === 'dropdown'" class="dropdown">
          <button (click)="toggleDropdown()">{{ element?.label }} <span>&#x25BC;</span></button>
          <div *ngIf="isDropdownOpen" class="dropdown-menu">
            <button *ngFor="let item of element?.dropdownItems" (click)="item?.action?.()">
              {{ item?.label }}
            </button>
          </div>
        </div>
  
        <!-- Search Bar -->
        <div *ngIf="element?.type === 'search-bar'" class="search-bar">
          <input type="text" [placeholder]="element?.placeholder" />
          <button class="search-btn">Search</button>
        </div>
  
      </ng-container>
    </div>
  </nav>
  