//Medium
@media (max-width: 920px) {
    .direction-container {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;
    }

    .customGroup {
        grid-gap: 2rem;
    }
}
//Small
@media (max-width: 720px) {
    .direction-container {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 2rem;
    }

    .customGroup {
        flex-direction: column;
        grid-gap: 2rem;
        align-items: center;
    }
}
//Large
@media (min-width: 921px) {
    .direction-container {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10rem;
    }
}

.flex {
    display: flex;
    flex-direction: column;
}

.direction-container {
    margin: 2rem;
    display: grid;
    justify-items: center;
    
}

.customGroup {
    display: flex;
    justify-content: space-around;
}

.portfolio-item {
    margin: 0 auto;
}