<app-breadcrumb [config]="{
    items:[
        { label: 'Home', route: '/home' }, 
        { label: 'Portfolio', route: '/portfolio' }, 
        { label: 'Popovers', route: '/popover' }
    ],
    divider:'>'}">
</app-breadcrumb>

<div class="portfolio-item">
    <div class="flex">
        <h3 class="center">Different directions</h3>

        <div class="direction-container">
            <app-popover [config]="popoverConfigTop">
               
            </app-popover>
            <app-popover [config]="popoverConfigRight">
               
            </app-popover>
            <app-popover [config]="popoverConfigLeft">
                
            </app-popover>
            <app-popover [config]="popoverConfigBottom">
               
            </app-popover>
        </div>
    
        <h3 class="center">With title</h3>
        <div class="customGroup">
            <app-popover [config]="popTitleTopCfg"></app-popover>
            <app-popover [config]="popTitleLeftCfg"></app-popover>
            <app-popover [config]="popTitleRightCfg"></app-popover>
            <app-popover [config]="popTitleBottomCfg"></app-popover>
        </div>
    
        <h3 class="center">Custom</h3>
        <div class="customGroup">
            <app-popover [config]="customTopCfg"></app-popover>
            <app-popover [config]="customLeftCfg"></app-popover>
            <app-popover [config]="customRightCfg"></app-popover>
            <app-popover [config]="customBottomCfg"></app-popover>
        </div>
    </div>
    
   
</div>


