<div class="portfolio-item">
    <h3>Breadcrumb with text divider</h3>

    <app-breadcrumb [config]="{
        items:[
            { label: 'Home', route: '/home' }, 
            { label: 'Portfolio', route: '/portfolio' }, 
            { label: 'Breadcrumb', route: '/breadcrumb' }
        ],
        divider:'>'}">
    </app-breadcrumb>
    
    <h3>Breadcrumb with svg icon as a divider</h3>
    
    <app-breadcrumb [config]="{
        items:[
            { label: 'Home', route: '/home' }, 
            { label: 'Portfolio', route: '/portfolio' }, 
            { label: 'Contact', route: '/contact' }
        ],
        svgIcon:{divider:'arrow-right'}}">
    
    </app-breadcrumb>

    <h3>Breadcrumb with custom styling</h3>

    <app-breadcrumb [config]="{
        items:[
            { label: 'Home', route: '/home',styles:{color:'red'}}, 
            { label: 'Portfolio', route: '/portfolio',styles:{color:'purple'} }, 
            { label: 'Contact', route: '/contact',styles:{color:'green'} }
        ],
        svgIcon:{divider:'arrow-right',styles:{fill:'blue'}}}">
    
    </app-breadcrumb>
</div>

