.accordions {
    padding: 1.5rem;
    background-color: var(--background-content);
    border-radius: 0.375rem;
    max-width: 700px;
}

@media (max-width: 550px) {
    .portfolio-item {
        min-width: 100%;
    }
}

@media (min-width: 551px) {
    .portfolio-item {
        min-width: 500px;
    }
}

