<app-breadcrumb [items]="[
    { label: 'Home', route: '/home' }, 
    { label: 'Portfolio', route: '/portfolio' }, 
    { label: 'Badge', route: '/badges' }
    ]" divider=">">
</app-breadcrumb>


<h1>
  Header
  <app-badge [config]="rectCfg"></app-badge>
</h1>

<button class="badge-btn">
  Notifications
  <app-badge [config]="btnCfg"></app-badge>
</button>
<br>
<button class="badge-btn">
  Notifications
  <app-badge [config]="badgeTopCfg"></app-badge>
</button>
<br>
<button class="badge-btn">
  Profile
  <app-badge [config]="profileCfg"></app-badge>
</button>