<p class="btnContainer">
    <app-button type="primary-1-1" (click)="toggleCollapse()">{{config.btnText}}</app-button>
</p>

<div
  [class.collapsed]="config.isCollapsed"
  [class.expanded]="!config.isCollapsed"
  [class.collapse-horizontal]="config.direction === 'horizontal'"
  [class.collapse-vertical]="config.direction === 'vertical'"
  [style.--dynamic-width]="config.width"
  [style.--dynamic-height]="config.height"
  class="collapse-content">
  <div [style.width]="config.width" [style.height]="config.height">
    <ng-content></ng-content> <!-- Content to be animated -->
  </div>
    
</div>