.collapse-content {
    background-color: #fff;
    border-radius: 0.375rem;
    border: 1px solid rgba(0,0,0,0.5);
    margin-top: 0.2rem;
    padding: 10px;
    overflow: hidden;
    display: inline-block;
    transition: 0.3s;
    padding: 1rem;
}

.btnContainer {
    display: flex;
}

.collapse-horizontal.collapsed {
  width: 0; /* Collapse horizontally */
  height: auto; /* Maintain constant height */
  opacity: 0; /* Optional fade-out effect */
}

.collapse-horizontal.expanded {
  width: var(--dynamic-width, 300px); /* Expand horizontally */
  height: auto; /* Maintain constant height */
  opacity: 1; /* Optional fade-in effect */
}

.collapse-vertical.collapsed {
  width: auto; /* Maintain constant width */
  height: 0; /* Collapse vertically */
  opacity: 0; /* Optional fade-out effect */
}

.collapse-vertical.expanded {
  width: auto; /* Maintain constant width */
  height: var(--dynamic-height, 300px); /* Expand vertically */
  opacity: 1; /* Optional fade-in effect */
}

