@media (max-width: 580px) {
    /* Styles for very small screens */
    
    .project{
        width: auto !important;
        .projectCard {
            flex-direction: column;
            .project-image {
                align-self: center !important;
            }
        }
    }
    

    .portfolio-box {
        margin: 2rem auto;
        height: 100%;
        padding: 1.5rem;
        background-color: var(--background-content);
        border-radius: 0.375rem;
        display: grid;
        grid-gap: 2rem;
        width: 80%;
        grid-template-columns: repeat(1, 1fr) !important;
    }
}

@media (min-width: 580px) and (max-width: 780px) {
    .project{
        width: auto !important;
        .projectCard {
            flex-direction: column;
            .project-image {
                align-self: center !important;
            }
        }
    }

    .portfolio-box {
        margin: 2rem auto;
        height: 100%;
        padding: 1.5rem;
        background-color: var(--background-content);
        border-radius: 0.375rem;
        display: grid;
        grid-gap: 2rem;
        width: 80%;
        grid-template-columns: repeat(2, 1fr) !important;
    }
}

@media (min-width: 781px) {
    .project {
        min-width: 500px;
    }
}

.project {
    border-radius: 30px;
    border-style: double;
    border-color: grey;
    border-width: thick;
    background-color: #FFF;
    width: 50%;
    margin: 0 auto;

    .project-box {
        .projectCard {
            margin: 30px;
            display: flex;
        }

        .projectDescription {
            flex-grow: 1;
            text-align: center;

            .icons {
                display: flex;
                justify-content: center;

                .icon {
                    background-color: #a5afb2;
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0 1rem;
                    cursor: pointer;
                    transition: all 0.3s ease-in-out;

                    i {
                        height: 24px;
                    }

                    &:hover {
                        background-color: #0b0808;
                    }
                }

            }
        }

        .project-image {

            border-radius: 30px;
            width: 100px;
            align-self: stretch;
            object-fit: cover;
        }

    }
}

.horizontal-rule {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}

.horizontal-rule::before,
.horizontal-rule::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #000;
}

.horizontal-rule:not(:empty)::before {
    margin-right: 0.25em;
}

.horizontal-rule:not(:empty)::after {
    margin-left: 0.25em;
}

.portfolio-box {
    margin: 2rem auto;
    height: 100%;
    padding: 1.5rem;
    background-color: var(--background-content);
    border-radius: 0.375rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    width: 80%;

    span {
        text-align: center;
    }

    a {
        text-decoration: none;
        color: #333;
        font-size: 18px;
        position: relative;
        display: inline-block;

    }

    a::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 2px;
        background-color: #007bff;
        transition: width 0.3s ease;
    }

    a:hover::after {
        width: 100%;
    }

    .portfolio-item {
        position: relative;
        border-radius: 15px;
        height: 300px;

        .portfolio-image {
            height: 100%;
        }

        img {
            width: 100%;
            height: 100%;
            border-radius: 15px;
        }

        .hover-item {
            width: 100%;
            height: 100%;
            // background-image: url('../../assets/Amazon-EC2.jpg');
            // background-size: contain;
            // background-position: center;
            // background-repeat: no-repeat;
            background-color: aliceblue;
            position: absolute;
            left: 0;
            top: 0;
            border-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            opacity: 0;
            transform: scale(0);
            transition: all .4s ease-in-out;

            .icons {
                display: flex;
                justify-content: center;
                align-items: center;

                .icon {
                    background-color: black;
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0 1rem;
                    cursor: pointer;
                    transition: all 0.3s ease-in-out;

                    i {
                        height: 24px;
                    }

                    &:hover {
                        background-color: orangered;
                    }
                }
            }
        }
    }

    .portfolio-item:hover .hover-item {
        opacity: 1;
        transform: scale(1);
    }
}