<div class="project">
    <div class="project-box">
        <div class="projectCard">
            <img class="project-image" src="../../assets/pest.webp" alt="">
            <div class="projectDescription">
                <h4>Management app for pest control service</h4>
                <p>Secured Angular app with data representation and manipulation</p>
                <div class="icons">
                    <a href="http://16.171.234.71/clients" class="icon" title="Open in New Window" target="_blank">
                        <i><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#6c7983"><path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z"/></svg></i>
                    </a>
                </div>
            </div>
        </div>
        
    </div>
</div>
<div class="horizontal-rule">
    UI Components
</div>
<div class="portfolio-box">
    <span><a href="" routerLink="/accordion">Accordion</a></span>
    <span><a href="" routerLink="/alert">Alerts</a></span>
    <span><a href="" routerLink="/badge">Badges</a></span>
    <span><a href="" routerLink="/breadcrumb">Breadcrumbs</a></span>
    <span><a href="" routerLink="/button">Buttons</a></span>
    <span><a href="" routerLink="/button-group">Button Groups</a></span>
    <span><a href="" routerLink="/card">Cards</a></span>
    <span><a href="" routerLink="/carousel">Carousel</a></span>
    <span><a href="" routerLink="/collapse">Collapse</a></span>
    <span><a href="" routerLink="/dropdown">Dropdowns</a></span>
    <span><a href="" routerLink="/modal">Modals</a></span>
    <span><a href="" routerLink="/navbar">Navbar</a></span>
    <span><a href="" routerLink="/pagination">Pagination</a></span>
    <span><a href="" routerLink="/placeholder">Placeholder</a></span>
    <span><a href="" routerLink="/popover">Popover</a></span>
    <span><a href="" routerLink="/progress">Progress</a></span>
    <span><a href="" routerLink="/spinner">Spinner</a></span>
    <span><a href="" routerLink="/toast">Toast</a></span>
    <span><a href="" routerLink="/tooltip">Tooltip</a></span>


    <!-- <div class="portfolio-item">

        <div class="portfolio-image">
            <img src="../../assets/UI/Accordion_08-min.png" alt="">

            <div class="hover-item">
                <h3>Accordion</h3>
                <div class="icons">
                    <a href="javascript:void(0)" routerLink="/accordion" class="icon">
                        <i><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z"/></svg></i>
                    </a>
                </div>
            </div>
            
        </div>
        
    </div>

    <div class="portfolio-item">
        <div class="portfolio-image">
            <img src="../../assets/UI/alert.webp" alt="">

            <div class="hover-item">
                <h3>Alerts</h3>
                <div class="icons">
                    <a href="javascript:void(0)" class="icon" routerLink="/alerts">
                        <i><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z"/></svg></i>
                    </a>
                </div>
            </div>
            
        </div>
        
    </div>

    <div class="portfolio-item">
        <div class="portfolio-image">
            <img src="../../assets/pest.webp" alt="">

            <div class="hover-item">
                <h3>Project source</h3>
                <div class="icons">
                    <a href="" class="icon">
                        <i><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z"/></svg></i>
                    </a>
                </div>
            </div>
            
        </div>
        
    </div>

    <div class="portfolio-item">
        <div class="portfolio-image">
            <img src="../../assets/pest.webp" alt="">

            <div class="hover-item">
                <h3>Project source</h3>
                <div class="icons">
                    <a href="" class="icon">
                        <i><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z"/></svg></i>
                    </a>
                </div>
            </div>
            
        </div>
        
    </div> -->
</div>
