<div class="pageBox" *ngIf="true" @fadeIn>
    <header class="header">
        <a href="" routerLink="home" class="logo"><span>Mick</span> Watt</a>
        <nav class="navbar">

            <label for="mobileMenu" class="menuIconContainer">
                <i class="material-symbols-outlined">
                    menu
                </i>
            </label>
            <input type="checkbox" id="mobileMenu" >

            <ul class="desktop-menu">
                <li>
                    <a routerLink="/home" routerLinkActive="active">Home</a>
                </li>
                
                <li>
                    <a routerLink="/portfolio" routerLinkActive="active">Portfolio</a>
                </li>

                <li>
                    <a routerLink="/services" routerLinkActive="active">Services</a>
                </li>
            </ul>

            <ul class="mobile-menu">
                <li>
                    <label for="mobileMenu" routerLink="/home" routerLinkActive="active">Home</label>
                </li>
                
                <li>
                    <label for="mobileMenu" routerLink="/portfolio" routerLinkActive="active">Portfolio</label>
                </li>

                <li>
                    <label for="mobileMenu" routerLink="/services" routerLinkActive="active">Services</label>
                </li>
            </ul>
            
            
            

        </nav>
        <a href="" routerLink="/contact" class="contact">Contact Me</a>
    </header>

    <main class="main-content">
        <div class="main-content-margin">
            <router-outlet />
        </div>

    </main>
</div>