<div *ngFor="let toast of toasts" 
[ngClass]="[getPositionClass(toast.position!), toast.customClass]" 
[ngStyle]="toast.customStyle" class="toast">
    
    <div class="toast-header">
      <div class="toast-icon" [ngStyle]="toast.iconStyle"></div>
      <strong class="toast-title">Notification</strong>
      <small class="toast-time">11 mins ago</small>
      <button type="button" class="toast-close" aria-label="Close" (click)="removeToast(toast)">×</button>
    </div>

    <div class="toast-body" [ngStyle]="toast.bodyStyle">
      {{ toast.message }}
    </div>

</div>
  