<app-breadcrumb [config]="{
    items:[
        { label: 'Home', route: '/home' }, 
        { label: 'Portfolio', route: '/portfolio' }, 
        { label: 'Badges', route: '/badge' }
    ],
    divider:'>'}">
</app-breadcrumb>

<div class="portfolio-item">
    <h1>
        Header
        <app-badge [config]="rectCfg"></app-badge>
    </h1>

    <button class="badge-btn">
        Notifications
        <app-badge [config]="btnCfg"></app-badge>
    </button>
    <br>
    <button class="badge-btn">
        Notifications
        <app-badge [config]="badgeTopCfg"></app-badge>
    </button>
    <br>
    <button class="badge-btn">
        Profile
        <app-badge [config]="profileCfg"></app-badge>
    </button>
    <h3>Predefined colors</h3>
    <div class="badge-row">
        <app-badge [config]="primaryCfg"></app-badge>
        <app-badge [config]="secondaryCfg"></app-badge>
        <app-badge [config]="successCfg"></app-badge>
        <app-badge [config]="dangerCfg"></app-badge>
        <app-badge [config]="warningCfg"></app-badge>
        <app-badge [config]="infoCfg"></app-badge>
        <app-badge [config]="lightCfg"></app-badge>
        <app-badge [config]="darkCfg"></app-badge>
    </div>

    <h3>Pills</h3>
    <div class="badge-row">
        <app-badge [config]="{text: 'Primary',class: 'primary pill'}"></app-badge>
        <app-badge [config]="{text: 'Secondary',class: 'secondary pill'}"></app-badge>
        <app-badge [config]="{text: 'Success',class: 'success pill'}"></app-badge>
        <app-badge [config]="{text: 'Danger',class: 'danger pill'}"></app-badge>
        <app-badge [config]="{text: 'Warning',class: 'warning pill'}"></app-badge>
        <app-badge [config]="{text: 'Info',class: 'info pill'}"></app-badge>
        <app-badge [config]="{text: 'Light',class: 'light pill'}"></app-badge>
        <app-badge [config]="{text: 'Dark',class: 'dark pill'}"></app-badge>
    </div>

    <h3>Custom styles</h3>
    <div class="badge-row">
        <app-badge [config]="{text: 'Custom', class: 'info', styles: {background:'#ecb6b6'}}"></app-badge>
        <app-badge [config]="{text: 'Custom', class: 'light', styles: {color:'blue'}}"></app-badge>
        <app-badge [config]="{text: 'Custom', class: 'info', styles: {borderRadius:0}}"></app-badge>
        <app-badge [config]="{text: 'Custom', class: 'pill', styles: {background:'#0030ff47'}}"></app-badge>
        <app-badge [config]="{text: 'Custom', class: 'info', styles: {background:'#ff0086'}}"></app-badge>
        <app-badge [config]="{text: 'Custom', class: 'info', styles: {background:'#d800ff1f'}}"></app-badge>
        <app-badge [config]="{text: 'Custom', class: 'info', styles: {background:'#00ffc6'}}"></app-badge>
        <app-badge [config]="{text: 'Custom', class: 'info', styles: {background:'#00ff1dbf'}}"></app-badge>
    </div>
</div>