.carousel-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .carousel-item.animateNext, .carousel-item.animatePrev {
        height: 100%;
    }

    .carousel-item.active img {
        visibility: visible;
    }

    .carousel-item img {
        visibility: hidden;
    }

    img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: opacity 0.5s, transform 0.5s;
    }

    // .active img {
    //     opacity: 1; // Ensure the active image is visible
    //     transform: translateX(0); // Reset transform for the active slide
    // }

    /* Caption Styling */
    .caption {
        position: absolute;
        bottom: 40px; // Position the caption right above the indicators
        left: 50%;
        transform: translateX(-50%);
        color: #fff;
        background: rgba(0, 0, 0, 0.2); // Optional background for better visibility
        padding: 10px;
        font-size: 16px;
        text-align: center;
        max-width: 80%;
        border-radius: 0.4rem;
        visibility: hidden;
    }

    .active .caption {
        visibility: visible;

    }

    .prev-arrow,
    .next-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: none;
        border: none;
        cursor: pointer;
        color: #fff;
        font-size: 24px;
        transition: color 0.3s;

        &:hover {
            color: #f00; // Default hover color
        }
    }

    .prev-arrow {
        left: 10px;
        font-size: 24px;
        color: #fff;
    }

    .next-arrow {
        right: 10px;
        font-size: 24px;
        color: #fff;
    }

    .indicators {
        position: absolute;
        bottom: 10px;
        width: 100%;
        text-align: center;

        span {
            display: inline-block;
            width: 10px;
            height: 10px;
            margin: 0 5px;
            background: #fff;
            border-radius: 50%;
            cursor: pointer;
            transition: background 0.3s;

            &.active {
                background: #000;
            }
        }
    }

    &.fade img {
        opacity: 0;
    }

    &.fade>.active img {
        opacity: 1;
    }

    &.slide>.prev img {
        transform: translateX(-100%);
    }

    &.slide>.active img {
        transform: translateX(0);
    }

    &.slide>.next img {
        transform: translateX(100%);
    }

    &.slide>.showPrev img {
        transform: translateX(-100%);
        visibility: visible;
    }

    &.slide>.showNext img {
        transform: translateX(100%);
        visibility: visible;
    }

    &.slide>.showNext img {
        visibility: visible;
    }

    @keyframes nextFrame {
        from {
            transform: translateX(100%);
        }

        to {
            transform: translateX(0);
        }
    }

    @keyframes prevFrame {
        from {
            transform: translateX(-100%);
        }

        to {
            transform: translateX(0);
        }
    }

    .animateNext {
        visibility: visible !important;
        animation: nextFrame 0.5s;
    }

    .animatePrev {
        visibility: visible !important;
        animation: prevFrame 0.5s;
    }
}