.pagination {
    display: flex;
    list-style: none;
    padding-left: 0;
    border-radius: 0.25rem;
  
    .page-item {
      &.active .page-link {
        background-color: #007bff;
        color: white;
        border-color: #007bff;
      }
  
      &.disabled .page-link {
        pointer-events: none;
        opacity: 0.5;
      }
  
      .page-link {
        color: #1c3855;
        padding: 0.5rem 0.75rem;
        border: 1px solid #dee2e6;
        border-radius: 0.25rem;
        margin-left: -1px;
        cursor: pointer;
        display: flex;
        align-items: center;
        user-select: none;
  
        &:hover {
          background-color: hsl(211, 78%, 52%);
        }
      }
    }
  }
  