<div class="modal-backdrop" (click)="closeModal()"></div>
<div class="modal-container">
    <div class="modal-header">
        <h3>{{ config.title }}</h3>
        <button (click)="closeModal()" class="closemodal">
            <app-icon [config]="{ name: 'close' }"></app-icon>
        </button>
    </div>
    <div class="modal-body">
        <ng-content></ng-content> <!-- For dynamic content -->
    </div>
    <div class="modal-footer">
        <app-button [config]="{type:'primary'}" *ngFor="let action of config.actions" (click)="action.handler()">
            {{ action.label }}
        </app-button>
        <!-- <app-button type="primary-1-1" *ngFor="let action of config.actions" (click)="action.handler()">
            {{ action.label }}
        </app-button> -->
    </div>
</div>