:host {
  --arrow-border-color:rgba(0,0,0,0.175);
  --arrow-color:#fff;
}


.popover-container {
    position: relative;
    display: inline-block;
  
    &.top .popover-content{margin-bottom:5px; bottom: 100%; left: 50%; transform: translateX(-50%); }
    &.bottom .popover-content{margin-top:5px; top: 100%; left: 50%; transform: translateX(-50%); }
    &.left .popover-content{ margin-right:5px;right: 100%; top: 50%; transform: translateY(-50%); }
    &.right .popover-content{ margin-left:5px;left: 100%; top: 50%; transform: translateY(-50%); }

   

   

    .popover-content {
      position: absolute;
      // margin: 3px;
      background-color: white;
      border: 1px solid rgba(0, 0, 0, 0.175);
      border-radius: 0.5rem;
      z-index: 50;
      width: 200px;

      // Arrows
      .arrow-left {
        width: 0.5rem;
        height: 1rem;
        top: 50%;
        position: absolute;
        left: -8px;
        transform: translateY(-50%);
      }

      .arrow-left:before {
        left: 0;
        position: absolute;
        display: block;
        content:'';
        border-width: 8px 8px 8px 0;
        border-color: transparent var(--arrow-border-color) transparent transparent;
        border-style: solid;
        box-sizing: border-box;
      }

      .arrow-left:after {
        left: 1px;
        border-width: 8px 8px 8px 0;
        position: absolute;
        display: block;
        content: "";
        border-color: transparent var(--arrow-color) transparent transparent;;
        border-style: solid;
        box-sizing: border-box;
      }

      //Right
      .arrow-right {
        width: 0.5rem;
        height: 1rem;
        top: 50%;
        position: absolute;
        right: -8px;
        transform: translateY(-50%);
      }

      .arrow-right:before {
        right: 0;
        position: absolute;
        display: block;
        content:'';
        border-width: 8px 0px 8px 8px;
        border-color: transparent transparent transparent var(--arrow-border-color);
        border-style: solid;
        box-sizing: border-box;
      }

      .arrow-right:after {
        right: 1px;
        border-width: 8px 0 8px 8px;
        position: absolute;
        display: block;
        content: "";
        border-color: transparent transparent transparent var(--arrow-color);
        border-style: solid;
        box-sizing: border-box;
      }

      //Top
      .arrow-top {
        width: 0.5rem;
        height: 1rem;
        left: 50%;
        position: absolute;
        top: -8px;
        transform: translateX(-50%);
      }

      .arrow-top:before {
        top: 0;
        position: absolute;
        display: block;
        content:'';
        border-width: 0px 8px 8px 8px;
        border-color: transparent transparent var(--arrow-border-color) transparent;
        border-style: solid;
        box-sizing: border-box;
      }

      .arrow-top:after {
        top: 1px;
        border-width: 0px 8px 8px 8px;
        position: absolute;
        display: block;
        content: "";
        border-color: transparent transparent var(--arrow-color) transparent;
        border-style: solid;
        box-sizing: border-box;
      }

      //Bottom
      .arrow-bottom {
        width: 0.5rem;
        height: 1rem;
        left: 50%;
        position: absolute;
        bottom: -8px;
        transform: translateX(-50%);
      }

      .arrow-bottom:before {
        bottom: 0;
        position: absolute;
        display: block;
        content:'';
        border-width: 8px 8px 0px 8px;
        border-color: var(--arrow-border-color) transparent transparent transparent;
        border-style: solid;
        box-sizing: border-box;
      }

      .arrow-bottom:after {
        bottom: 1px;
        border-width: 8px 8px 0px 8px;
        position: absolute;
        display: block;
        content: "";
        border-color: var(--arrow-color) transparent transparent transparent;
        border-style: solid;
        box-sizing: border-box;
      }
      
      
      .popover-title {
        font-size: 1rem;
        margin-bottom: 5px;
        padding: 0.5rem 1rem;
        background-color: #e9ecef;
        border-bottom: 1px solid rgba(0, 0, 0, 0.175);
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
      }

      .popover-body {
        padding: 1rem;
      }
  
    
  
      
  
      
    }
  }
  