<section class="home">
    <div class="home-content">
        <p class="subtitle">Hello</p>
        <h1 class="title">I'm <span>Mick</span></h1><br>
        a <span class="text-highlight">Frontend Developer</span>
        <p class="description">With more than 3 years experience working with HTML, CSS, JavaScript, TypeScript, Angular. Proficient in working on both independent and collaborative projects</p>
    </div>

    <div class="image-box">
        <!-- <img src="../../assets/IMG_1989.jpg" alt=""> -->
         <img src="assets/IMG_1989.jpg" alt="">
    </div>
</section>
