<app-breadcrumb [config]="{
    items:[
        { label: 'Home', route: '/home' }, 
        { label: 'Portfolio', route: '/portfolio' }, 
        { label: 'Pagination', route: '/pagination' }
    ],
    divider:'>'}">
</app-breadcrumb>

<div class="portfolio-item">
  

    <h3 class="center">Pagination example</h3>
    <div class="imageContainer">
        <div *ngFor="let item of displayedItems">
            <!-- Render paginated items here -->
             <img [src]="item.name" alt="">
        </div>
    </div>

    <div class="pagination-center">
        <app-pagination [config]="paginationConfig"></app-pagination>
    </div>
    
    <h3 class="center">Pagination with icons</h3>

    <div class="imageContainer">
        <div *ngFor="let item of displayedItems">
            <!-- Render paginated items here -->
             <img [src]="item.name" alt="">
        </div>
    </div>
    <div class="pagination-center">
        <app-pagination [config]="paginationWithIconCfg"></app-pagination>
    </div>
    
</div>





