.imageContainer {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    margin-top: 1rem;
    img {
        width: 300px;
        height: 300px;
        transition: transform 1s;
        border-radius: 0.375rem;
    }

    img:hover {
        transform: scale(1.1);
    }
}

.pagination-center {
    margin: 2rem;
    display: flex;
    justify-content: center;
}